@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply py-2 px-6 rounded-full hover:bg-[#8BA76F] hover:text-white;
  }
  h1 {
    @apply text-4xl md:text-4xl lg:text-5xl xl:text-6xl;
  }
  h2 {
    @apply text-2xl font-semibold md:text-5xl md:font-bold;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg font-semibold;
  }
  p {
    @apply text-gray-500;
  }
  .card {
    @apply shadow-lg p-8 rounded-2xl bg-white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
